/*estilos de card*/
.card {
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.625);
    width: 20%;
    border: solid 1px black;
    background-color: rgb(218, 170, 153);
    
    
    margin: 1rem;  
 
  }
  
  .link{
    text-decoration: none;
  }
  .container {
   padding: 1rem;
    color: black;
    text-align: center;
  
  }
  .img{
    width: 100%;
  }

  .title{
    font-size: 1.5rem;
    color:   rgb(44, 26, 17)

  }