/*estilos de card*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    padding: 1rem;  
}


/* .cardConten{  
    box-shadow: rgb(195, 216, 238) 0px 10px 20px -10px;
    text-align: center;
    padding: 1rem;
    border-radius: 30px; 
    background-color: rgb(218, 170, 153);
    backdrop-filter: blur(5px);
    width: 500px;
    height: 400px;
} */

.img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
}
.nombre{
    color:black;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.temperamento{
    color:rgb(44, 26, 17);
    flex-direction: row;
    display: inline;
    margin: 5px; 
    text-transform:lowercase;  
}


.link{
    text-decoration: none;
}