/*estilos de card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 20%;
    border: solid 1px black;
    background-color: #bec200;
    justify-content: center;
    contain: content;
    margin: 1rem;
  
   
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #272702;
  }
  
  .container {
    padding: 2px 16px;
  }
  .img{
    width: 100%;
  }

  .title{
    font-size: 1.5rem;
    color:  #092201;

  }